<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
	</configSections>
	<connectionStrings>
  <add name="Prints.Properties.Settings.ConnectionString2" connectionString="Provider=VFPOLEDB.1;Data Source=D:\ACCOUNTS-KSB\KSB"
   providerName="System.Data.OleDb" />
 </connectionStrings>
 <appSettings>
		<add key="DataPath" value="D:\ACCOUNTS\" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
</configuration>
